<form method="post" action="/subtract">
	<input type="text" id="s_first" name="s_first"/>
	<input type="text" id="s_second" name="s_second"/>
	<button type="submit" id="subtract_button">Subtract</button>
</form>
<h4>Answer:</h4>
<div id="s_answer">
	<%= @s_answer ? @s_answer : '' %>
</div>